name: Build
on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: "Fetch Sources"
        uses: actions/checkout@v3.5.2
      - name: "Validate Gradle Wrapper"
        uses: gradle/wrapper-validation-action@v1.0.6
      - name: "Setup Java 11"
        uses: actions/setup-java@v3.11.0
        with:
          distribution: adopt
          java-version: 11
          cache: gradle
      - name: "Setup gradle wrapper"
        run: chmod +x gradlew
      - name: "Run Tests"
        run: ./gradlew check
      - name: "Collect Tests Result of failed tests"
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3.1.2
        with:
          name: tests-result
          path: ${{ github.workspace }}/build/reports/tests
  test-os-matrix:
    name: "Test with OS matrix"
    if: github.ref == 'refs/heads/main'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
          - os: macos-latest
    steps:
      - name: "Fetch Sources"
        uses: actions/checkout@v3.5.2
      - name: "Validate Gradle Wrapper"
        uses: gradle/wrapper-validation-action@v1.0.6
      - name: "Setup Java 11"
        uses: actions/setup-java@v3.11.0
        with:
          distribution: adopt
          java-version: 11
          cache: gradle
      - name: "Setup gradle wrapper"
        run: chmod +x gradlew
      - name: "Run Tests"
        run: ./gradlew check
      - name: "Collect Tests Result of failed tests"
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3.1.2
        with:
          name: tests-result
          path: ${{ github.workspace }}/build/reports/tests
