name: Release
on:
  push:
    tags:
      - "*.*.*"

jobs:
  release:
    name: "Release"
    runs-on: ubuntu-latest
    steps:
      - name: "Fetch Sources"
        uses: actions/checkout@v3.5.3
      - name: "Validate Gradle Wrapper"
        uses: gradle/wrapper-validation-action@v1.1.0
      - name: "Setup Java 11"
        uses: actions/setup-java@v3.11.0
        with:
          distribution: adopt
          java-version: 11
          cache: gradle
      - name: "Setup gradle wrapper"
        run: chmod +x gradlew
      - name: "Get version from tag"
        id: version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: "Publish plugin"
        run: ./gradlew publishPlugins -Pversion=${{ steps.version.outputs.VERSION }} -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
      - name: "Create Release note"
        run: |
          awk -v ver="$1" '
            /^## / { if (p) { exit }; p=1; next } p && NF
          ' ./CHANGELOG.md > RELEASE.md
      - name: "Create release"
        uses: softprops/action-gh-release@v1
        with:
          body_path: RELEASE.md

